In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Importing the JSON files
spotify_data_json_0 = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory1.json")
spotify_data_json_1 = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory1.json")
spotify_data_json_2 = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory2.json")
spotify_data_json_3 = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory3.json")

In [3]:
#Passing them to CSVs
spotify_data_json_0.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory0.csv")
spotify_data_json_1.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory1.csv")
spotify_data_json_2.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory2.csv")
spotify_data_json_3.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory3.csv")

In [4]:
spotify_data_csv_0 = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory0.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])
spotify_data_csv_1 = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory1.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])
spotify_data_csv_2 = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory2.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])
spotify_data_csv_3 = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory3.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])

In [5]:
#Dropping the first row
df_streaminghistory_0_old = spotify_data_csv_1.drop(spotify_data_csv_0.index[0])
df_streaminghistory_1_old = spotify_data_csv_1.drop(spotify_data_csv_1.index[0])
df_streaminghistory_2_old = spotify_data_csv_2.drop(spotify_data_csv_2.index[0])
df_streaminghistory_3_old = spotify_data_csv_3.drop(spotify_data_csv_3.index[0])

In [6]:
df_streaminghistory_0_old.head()

         LastPlayed         Artist                             Song MsPlayed
1  2020-03-04 16:29       The 1975                    Somebody Else     1109
2  2020-03-04 16:29       Folamour  These Are Just Places To Me Now   294463
3  2020-03-04 16:29    Knife Party                 Internet Friends      874
4  2020-03-04 16:35  Pleasurekraft   American Hustle - Original Mix     2133
5  2020-03-04 16:35        OutKast         SpottieOttieDopaliscious   211378

In [7]:
#Continue with the cleanse
df_streaminghistory_0_old[['Date', 'Time']] = df_streaminghistory_0_old.LastPlayed.str.split(" ", expand=True)
df_streaminghistory_1_old[['Date', 'Time']] = df_streaminghistory_1_old.LastPlayed.str.split(" ", expand=True)
df_streaminghistory_2_old[['Date', 'Time']] = df_streaminghistory_2_old.LastPlayed.str.split(" ", expand=True)
df_streaminghistory_3_old[['Date', 'Time']] = df_streaminghistory_3_old.LastPlayed.str.split(" ", expand=True)

In [8]:
#The final touch
df_streaminghistory_0_old.drop("LastPlayed", axis=1, inplace=True)
df_streaminghistory_1_old.drop("LastPlayed", axis=1, inplace=True)
df_streaminghistory_2_old.drop("LastPlayed", axis=1, inplace=True)
df_streaminghistory_3_old.drop("LastPlayed", axis=1, inplace=True)

In [9]:
df_streaminghistory_0 = df_streaminghistory_1_old.copy()
df_streaminghistory_1 = df_streaminghistory_1_old.copy()
df_streaminghistory_2 = df_streaminghistory_2_old.copy()
df_streaminghistory_3 = df_streaminghistory_3_old.copy()

In [10]:
#Compiling my DataFrames withing a list to merge them!
MandA = [df_streaminghistory_0, df_streaminghistory_1, df_streaminghistory_2, df_streaminghistory_3]

In [11]:
merge = pd.concat(MandA)

In [12]:
spotify = merge.copy()

In [13]:
spotify.head()

          Artist                             Song MsPlayed        Date   Time
1       The 1975                    Somebody Else     1109  2020-03-04  16:29
2       Folamour  These Are Just Places To Me Now   294463  2020-03-04  16:29
3    Knife Party                 Internet Friends      874  2020-03-04  16:29
4  Pleasurekraft   American Hustle - Original Mix     2133  2020-03-04  16:35
5        OutKast         SpottieOttieDopaliscious   211378  2020-03-04  16:35

In [14]:
spotify.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39268 entries, 1 to 9268
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    39268 non-null  object
 1   Song      39268 non-null  object
 2   MsPlayed  39268 non-null  object
 3   Date      39268 non-null  object
 4   Time      39268 non-null  object
dtypes: object(5)
memory usage: 1.8+ MB

In [15]:
spotify["MsPlayed"] = spotify['MsPlayed'].astype('int')
spotify["Date"] = pd.to_datetime(spotify["Date"])
spotify["MinutesPlayed"] = round(spotify["MsPlayed"] / 60000,2)
spotify["MinutesPlayed"] = spotify["MinutesPlayed"].astype("float")

In [16]:
spotify.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39268 entries, 1 to 9268
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Artist         39268 non-null  object
 1   Song           39268 non-null  object
 2   MsPlayed       39268 non-null  int64
 3   Date           39268 non-null  datetime64[ns]
 4   Time           39268 non-null  object
 5   MinutesPlayed  39268 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 2.1+ MB

In [17]:
spotify.head()

,Artist,Song,MsPlayed,Date,Time,MinutesPlayed
1,The 1975,Somebody Else,1109,2020-03-04,16:29,0.02
2,Folamour,These Are Just Places To Me Now,294463,2020-03-04,16:29,4.91
3,Knife Party,Internet Friends,874,2020-03-04,16:29,0.01
4,Pleasurekraft,American Hustle - Original Mix,2133,2020-03-04,16:35,0.04
5,OutKast,SpottieOttieDopaliscious,211378,2020-03-04,16:35,3.52

## Let's find out which was my most listened artist this year!

In [18]:
spotify.describe()

           MsPlayed  MinutesPlayed
count  3.926800e+04   39268.000000
mean   1.302741e+05       2.171179
std    2.212148e+05       3.686921
min    0.000000e+00       0.000000
25%    1.927000e+03       0.030000
50%    5.701000e+04       0.950000
75%    2.150405e+05       3.580000
max    7.866771e+06     131.110000

In [19]:
spotify.shape

(39268, 6)

In [20]:
top_artist = spotify.groupby("Artist")
top_10 = top_artist[["MinutesPlayed"]].sum().sort_values("MinutesPlayed",ascending = False)
top_10.head(10)

                                        MinutesPlayed
Artist
Today, Explained                              2621.15
NBC Nightly News with Lester Holt             2405.37
FT News Briefing                              2157.19
Kanye West                                    2047.20
Bad Bunny                                     1973.15
Háblame Sucio                                 1731.72
The Joe Rogan Experience                      1305.25
Cadáver Exquisito                             1190.53
VIEWS with David Dobrik and Jason Nash        1126.24
Anderson .Paak                                1111.65

# Now let's check which is the song/podcast which I heard the most this year!

In [21]:
top_song = spotify.groupby("Song")
top_song[["MinutesPlayed"]].sum().sort_values("MinutesPlayed", ascending = False).head(10)

                      MinutesPlayed
Song
Si Veo a Tu Mamá             471.08
Emborrachame De Amor         417.54
Loco en el Desierto          404.78
Lo Que Siento                338.65
New Perspective              323.44
René                         313.50
Tú                           308.43
Pyramids                     303.91
Pedro Navaja                 280.31
Bound 2                      244.66

## In order to group by year, I have to manipulate the data another way though

In [22]:
spotify_yearly = spotify.copy()

In [23]:
spotify_yearly["Date"] = spotify_yearly.Date.astype("string")

In [24]:
spotify_yearly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39268 entries, 1 to 9268
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Artist         39268 non-null  object
 1   Song           39268 non-null  object
 2   MsPlayed       39268 non-null  int64
 3   Date           39268 non-null  string
 4   Time           39268 non-null  object
 5   MinutesPlayed  39268 non-null  float64
dtypes: float64(1), int64(1), object(3), string(1)
memory usage: 2.1+ MB

In [68]:
spotify_yearly.head(1)

     Artist           Song  MsPlayed        Date   Time  MinutesPlayed
1  The 1975  Somebody Else      1109  2020-03-04  16:29           0.02

In [26]:
print(type(spotify_yearly))

<class 'pandas.core.frame.DataFrame'>

In [77]:
spotify_yearly['Counter'] = np.arange(spotify_yearly.shape[0])
spotify_yearly.set_index("Counter")

,Artist,Song,MsPlayed,Date,Time,MinutesPlayed
Counter,,,,,,
0,The 1975,Somebody Else,1109,2020-03-04,16:29,0.02
1,Folamour,These Are Just Places To Me Now,294463,2020-03-04,16:29,4.91
2,Knife Party,Internet Friends,874,2020-03-04,16:29,0.01
3,Pleasurekraft,American Hustle - Original Mix,2133,2020-03-04,16:35,0.04
4,OutKast,SpottieOttieDopaliscious,211378,2020-03-04,16:35,3.52
...,...,...,...,...,...,...
39263,Superchería,Lo Esencial,235768,2020-12-14,23:20,3.93
39264,La Máquina Camaleón,¡VACÁCIONE Z! - Ep. 3: La combinación más fuer...,204250,2020-12-14,23:24,3.40
39265,Efelante,Mango,191681,2020-12-14,23:27,3.19
39266,Tus Amigos Nuevos,Cóctel Pirotecnia,268472,2020-12-14,23:31,4.47
39267,Usted Señalemelo,Big Bang,47264,2020-12-14,23:32,0.79

In [27]:
spotify_yearly_df = spotify_yearly["Date"].str.split("-")
data = spotify_yearly_df.to_list()
names = ["Year", "Month","Day"] 
new_df = pd.DataFrame(data, columns=names)

In [73]:
new_df.head()

   Year Month Day
0  2020    03  04
1  2020    03  04
2  2020    03  04
3  2020    03  04
4  2020    03  04

In [41]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39268 entries, 0 to 39267
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    39268 non-null  object
 1   Month   39268 non-null  object
 2   Day     39268 non-null  object
dtypes: object(3)
memory usage: 920.5+ KB

In [78]:
new_df['Counter'] = np.arange(new_df.shape[0])
new_df.set_index("Counter")

         Year Month Day
Counter
0        2020    03  04
1        2020    03  04
2        2020    03  04
3        2020    03  04
4        2020    03  04
...       ...   ...  ..
39263    2020    12  14
39264    2020    12  14
39265    2020    12  14
39266    2020    12  14
39267    2020    12  14

[39268 rows x 3 columns]

In [79]:
spotify_granular = pd.merge(spotify_yearly,new_df,left_on="Counter", right_on="Counter")

In [81]:
spotify_granular.drop("Date", axis=1, inplace=True)

In [84]:
spotify_granular.set_index("Counter")

,Artist,Song,MsPlayed,Time,MinutesPlayed,Year,Month,Day
Counter,,,,,,,,
0,The 1975,Somebody Else,1109,16:29,0.02,2020,03,04
1,Folamour,These Are Just Places To Me Now,294463,16:29,4.91,2020,03,04
2,Knife Party,Internet Friends,874,16:29,0.01,2020,03,04
3,Pleasurekraft,American Hustle - Original Mix,2133,16:35,0.04,2020,03,04
4,OutKast,SpottieOttieDopaliscious,211378,16:35,3.52,2020,03,04
...,...,...,...,...,...,...,...,...
39263,Superchería,Lo Esencial,235768,23:20,3.93,2020,12,14
39264,La Máquina Camaleón,¡VACÁCIONE Z! - Ep. 3: La combinación más fuer...,204250,23:24,3.40,2020,12,14
39265,Efelante,Mango,191681,23:27,3.19,2020,12,14
39266,Tus Amigos Nuevos,Cóctel Pirotecnia,268472,23:31,4.47,2020,12,14
39267,Usted Señalemelo,Big Bang,47264,23:32,0.79,2020,12,14

In [85]:
spotify_granular.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39268 entries, 0 to 39267
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Artist         39268 non-null  object
 1   Song           39268 non-null  object
 2   MsPlayed       39268 non-null  int64
 3   Time           39268 non-null  object
 4   MinutesPlayed  39268 non-null  float64
 5   Counter        39268 non-null  int64
 6   Year           39268 non-null  object
 7   Month          39268 non-null  object
 8   Day            39268 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 4.2+ MB

# I am going to group them by month in order to find out which month did I heard the most music in!

In [87]:
month = spotify_granular.groupby("Month")

In [93]:
print(month["MinutesPlayed"].sum().sort_values(ascending = False))

Month
06    11648.13
05    11306.40
08    10359.22
03     9722.72
04     9520.10
10     8819.79
09     7996.81
11     7326.45
12     5164.91
07     3393.32
Name: MinutesPlayed, dtype: float64

In [103]:
print("I heard over {:,} minutes of music in all 2020!!" .format(spotify_granular["MinutesPlayed"].sum().round(2)))

I heard over 85,257.85 minutes of music in all 2020!!