In [1]:
import pandas as pd
import numpy as np

In [2]:
spotify_data_json = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory0.json")

In [3]:
spotify_data_json.head()

            endTime      artistName              trackName  msPlayed
0  2019-02-23 21:13   Alex Ferreira        La Noche Entera    115600
1  2019-12-14 07:18    Man de Barro             Fin de Año    196330
2  2019-12-14 07:19  Kendrick Lamar            Money Trees     10325
3  2019-12-14 07:22        The 1975  Love It If We Made It    218709
4  2019-12-14 07:22   Flosstradamus            Prison Riot      1962

In [4]:
#Changing the data from a json file to a csv to be able to mold it better
#spotify_data_json.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory0.csv")

In [5]:
spotify_data_csv = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory0.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])

In [6]:
spotify_data_csv.head()

         LastPlayed          Artist                   Song  MsPlayed
0           endTime      artistName              trackName  msPlayed
1  2019-02-23 21:13   Alex Ferreira        La Noche Entera    115600
2  2019-12-14 07:18    Man de Barro             Fin de Año    196330
3  2019-12-14 07:19  Kendrick Lamar            Money Trees     10325
4  2019-12-14 07:22        The 1975  Love It If We Made It    218709

In [7]:
#Deleting the first row in order to have only the rename columns
df = spotify_data_csv.drop(spotify_data_csv.index[0])

In [8]:
df.head()

         LastPlayed          Artist                   Song MsPlayed
1  2019-02-23 21:13   Alex Ferreira        La Noche Entera   115600
2  2019-12-14 07:18    Man de Barro             Fin de Año   196330
3  2019-12-14 07:19  Kendrick Lamar            Money Trees    10325
4  2019-12-14 07:22        The 1975  Love It If We Made It   218709
5  2019-12-14 07:22   Flosstradamus            Prison Riot     1962

In [9]:
print(df[["Song"]])

                                  Song
1                      La Noche Entera
2                           Fin de Año
3                          Money Trees
4                Love It If We Made It
5                          Prison Riot
...                                ...
9996                  Just Like Heaven
9997   These Are Just Places To Me Now
9998                            Goldie
9999                              Peak
10000                             Peak

[10000 rows x 1 columns]

In [10]:
df_1 = df.copy()

In [11]:
split_data = df_1["LastPlayed"].str.split("-")
data = split_data.to_list()
names = ["Year", "Month","Day"]
new_df = pd.DataFrame(data, columns=names)

In [12]:
new_df.head()

   Year Month       Day
0  2019    02  23 21:13
1  2019    12  14 07:18
2  2019    12  14 07:19
3  2019    12  14 07:22
4  2019    12  14 07:22

In [19]:
split_data = new_df["Day"].str.split(" ")
data = split_data.to_list()
names = ["Day", "Time"]
new_new_df = pd.DataFrame(data, columns=names)

In [21]:
new_new_df.head()

  Day   Time
0  23  21:13
1  14  07:18
2  14  07:19
3  14  07:22
4  14  07:22

# I have to merge the data now, in order to fully grasp the data!!

In [15]:
#Importing the JSON files
spotify_data_json_1 = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory1.json")
spotify_data_json_2 = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory2.json")
spotify_data_json_3 = pd.read_json("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory3.json")

In [16]:
#Passing them to CSVs
spotify_data_json_1.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory1.csv")
spotify_data_json_2.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory2.csv")
spotify_data_json_3.to_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory3.csv")

In [17]:
#Rearrenging the data accordyingly
spotify_data_csv_1 = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory1.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])
spotify_data_csv_2 = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory2.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])
spotify_data_csv_3 = pd.read_csv("/Volumes/GoogleDrive/My Drive/Work/GitHub/Datasets/Spotify/StreamingHistory3.csv",index_col=None,usecols=[1,2,3,4], names=["LastPlayed", "Artist", "Song", "MsPlayed"])

In [22]:
#Dropping the first column
df_streaminghistory_1 = spotify_data_csv_1.drop(spotify_data_csv.index[0])
df_streaminghistory_2 = spotify_data_csv_2.drop(spotify_data_csv.index[0])
df_streaminghistory_3 = spotify_data_csv_3.drop(spotify_data_csv.index[0])